/*UI elements*/
/* line 3, E:/RADOVI/dive_and_seek/DEV/source/css/ripple.css.scss */
[data-ripple] {
  position: relative;
  overflow: hidden; }
  /* line 6, E:/RADOVI/dive_and_seek/DEV/source/css/ripple.css.scss */
  [data-ripple] ripple {
    position: absolute;
    border-radius: 50%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.07);
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0; }
  /* line 15, E:/RADOVI/dive_and_seek/DEV/source/css/ripple.css.scss */
  [data-ripple] ripple.ripple {
    animation: rippleAnimation 0.55s linear;
    -webkit-animation: rippleAnimation 0.55s linear; }

/***********************************************************************************************/
@keyframes rippleAnimation {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0; }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6); }
  80% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 1; }
  100% {
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    opacity: 0; } }
@-webkit-keyframes rippleAnimation {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0; }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6); }
  80% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 1; }
  100% {
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    opacity: 0; } }
