/*UI elements*/
/* line 5, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip] {
  position: relative;
  overflow: visible !important; }
  /* line 8, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
  [data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    background: #182436;
    font-family: "Exo", sans-serif;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    color: #fff;
    border-radius: 2px;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    white-space: nowrap; }

/*---------------------------------*/
/* line 26, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-top:after {
  left: 50%;
  top: 0%;
  -ms-transform: translate(-50%, -200%);
  -webkit-transform: translate(-50%, -200%);
  -moz-transform: translate(-50%, -200%);
  transform: translate(-50%, -200%);
  opacity: 0; }
/* line 32, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-top:hover:after {
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  opacity: 1; }

/*---------------------------------*/
/* line 42, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-bottom:after {
  left: 50%;
  bottom: 0;
  -ms-transform: translate(-50%, 200%);
  -webkit-transform: translate(-50%, 200%);
  -moz-transform: translate(-50%, 200%);
  transform: translate(-50%, 200%);
  opacity: 0; }
/* line 48, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-bottom:hover:after {
  -ms-transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  opacity: 1; }

/*---------------------------------*/
/* line 58, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-left:after {
  right: 100%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0; }
/* line 64, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-left:hover:after {
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  opacity: 1; }

/*---------------------------------*/
/* line 74, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-right:after {
  left: 100%;
  top: 50%;
  -ms-transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  opacity: 0; }
/* line 80, E:/RADOVI/dive_and_seek/DEV/source/css/tooltip.css.scss */
[data-tooltip].tooltip-right:hover:after {
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  opacity: 1; }
