@import 'variables';

.about{
//  height: $vh;
  display: block;

  [class*="column"]{
    padding: $spacing*5 $spacing*2 $spacing*5 0;
    display: block;
    float: left;
    vertical-align: top;
    height: $vh;
    margin-bottom: 0;
    &:first-child{
      padding-left: $spacing*2;
    }
  }

  .column-6 {
    width: 300px;
  }
  .column-3 {
    width: 600px;
  }

  h1{
   font-family: $strong;
   font-size: 9.5vmin;
   line-height: 0.80em;
   letter-spacing: -0.02em;
   margin: 0;
   word-wrap: break-word;
//   margin-bottom: 0.5em;
  }

  h2{
    line-height: 0.8em;
  }
  p{
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin-bottom: 0;
    font-weight: 400;
  }
}

.about-content{
  position: relative;
}

.exp{
  padding: $spacing 0;
  border-bottom: $dark-border;
  &:first-child{
    padding-top: 0;
  }
  h3{
    font-size: 17px;
    font-weight: 600;
  }
  p{
    opacity: 0.6;
  }
}



//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 1200px){
  .float-me{
    display: none;
  }
  .about{
    p{
      font-size: 13px;
      line-height: 1.6em;
    }
  }
}
