@import 'variables';

.about{
  padding: 0 $spacing*2;
  position: relative;
  z-index: 1;
  background: $light-grey;


  h1{
   font-family: $strong;
   font-size: 9.5vmin;
   line-height: 0.80em;
   letter-spacing: -0.02em;
   margin: 0;
   word-wrap: break-word;
    margin-bottom: 0.5em;
  }
  h2{
    line-height: 0.8em;
  }
  p{
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin-bottom: $spacing;
    font-weight: 400;
  }
}

.about-content{
  position: relative;
}

.exp{
  padding: $spacing 0;
  border-bottom: $dark-border;
  h3{
    font-size: 17px;
    font-weight: 600;
  }
  p{
    opacity: 0.6;
  }
}



//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 1200px){
  .float-me{
    display: none;
  }
  .about{
    p{
      font-size: 13px;
      line-height: 1.6em;
    }
  }
}
