@import 'variables';

.all-projects{
@include clearfix;
}

.project-box {
  width: $vw/4;
  border-left: $border-default;
  padding: 8vh $spacing;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-left: -5px;
  min-height: 100vh;
  display: inline-flex;
  @include basicTransition(0.4s);
  &:first-child{
    border-left: none;
  }

  header{
    position: absolute;
    top: $header-size*2.5;
    overflow: hidden;

    &:after{
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: $spacing;
      height: 1px;
      background: $dark;
      @include basicTransition(0.4s);
    }
    p{
      margin-bottom: $spacing/2;
      font-size: 12px;
      opacity: 0;
      font-weight: 400;
      width: 70%;
      line-height: 1.4em;
      @include translate(0, 50px);
      @include basicTransition(0.4s);
    }
  }

  .project-num{
    font-family: $strong;
    opacity: 0.1;
    font-size: 5vmin;
    @include basicTransition(0.4s);
    transform-origin: 0 0;
  }

  h1{
    font-size: 150%;
    font-family: $thin;
    letter-spacing: 0.02em;
    font-weight: 600;
    opacity: 0.1;
    margin-top: $spacing;
    margin-bottom: $spacing/2;
  }

  .project-img{
    margin: auto;
    width: 17vw;
    height: 17vw;
    position: relative;

    .bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(100%) contrast(90%) brightness(120%);
      -webkit-filter: grayscale(100%) contrast(90%) brightness(120%);
      border-radius: 100%;
      @include basicTransition(0.4s);

      &:before{
        border-radius: 100%;
      }
    }
  }


  .project-color{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 100%;
    pointer-events:none;
    @include scale(0.8,0.8);
    @include basicTransition(0.6s);
  }

  .project-box-desc{
    position: absolute;
    right: $spacing;
    bottom: $spacing;
    text-align: right;
    z-index: 2;
    h3{
      font-size: 2em;
      margin-bottom: 10px;
      font-family: $strong;
    }
    .project-type{
      font-size: 11px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      i{
        font-size: 24px;
        vertical-align: middle;
        opacity: 0.6;
      }
    }
  }
}

.project-box:hover {
  header{
    &:after{
      width: 100%;
    }
    p{
      opacity: 0.6;
      @include noTransform;
    }
  }

  .project-num{
    opacity: 1;
    @include scale(1.5,1.5);
  }

  h1{
    opacity: 1;
  }

  .project-img .bg{
    filter: none;
    -webkit-filter: none;
    @include scale(1.5,1.5);
  }

  .project-color{
    @include scale(1.7,1.7);
  }
}


//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 1030px){
  .project-box {
    width: $vw/3;

    .project-img{
      width: 22vw;
      height: 22vw;
    }

    .project-box-desc{
      h3{
        margin-bottom: 0;
      }
      .project-type{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 770px){
  .project-box {
    width: $vw/2;

    .project-img{
      width: 30vw;
      height: 30vw;
    }

    h1{
      font-size: 10px;
    }
  }
}