@import 'variables';


/**** lines****/

.lines{
  position: absolute;
  width: auto;
  height:  100%;
  left: 0;
  top: 0;
  z-index: 3;
  pointer-events:none;
    .st0{fill:#fff; height: 100%; opacity: 0.12;}
    .st1{fill:#fff; height: 100%; opacity: 0.05;}
}

body.active .lines{
  display: none;
}

.magnifier{
  background: url("../images/ameba-bulb.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  z-index: 10;
  width: 45vh;
  height: 45vh;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.25;
}

.overlay-lines{
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  pointer-events:none;
  z-index: 1;
  @include basicTransition(0.6s);
}

.static-lines{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events:none;
  z-index: 1;
  opacity: 0.1;
  line{
    position: fixed;
    top: 0;
    width: 1px;
    background: $white;
    height: 100%;
  }
  line:nth-child(1){ left: $vw/6}
  line:nth-child(2){ left: $vw/6*2}
  line:nth-child(3){ left: $vw/6*3}
  line:nth-child(4){ left: $vw/6*4}
  line:nth-child(5){ left: $vw/6*5}
}

/****home slider****/

#ameba-home canvas{
  width: 100%;
  height: 100%;
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.home-slider{
  top: 0;
  left: 0;
  width: 100%;
  height:  100%;
  overflow: hidden;

  &:before{
    content:'';
    background: url('../images/noiz.jpg');
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.06;
    pointer-events:none;
  }
}

.home-slide{
  position: relative;
  width:  100%;
  height:  $vh;
  background-color: $dark;

  .home-background-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include basicTransition(0.6s);
    .stripe{
      position: absolute;
      height: 100%;
      background: $dark;
      z-index: 1;
      width: $vw/6;
      @include basicTransition(600ms);
      &:nth-child(1){ left: 0; bottom: 0;}
      &:nth-child(2){ left: $vw/6; bottom: 0;}
      &:nth-child(3){ left: $vw/6*2; top:0}
      &:nth-child(4){ left: $vw/6*3; bottom: 0;}
      &:nth-child(5){ left: $vw/6*4; bottom: 0;}
      &:nth-child(6){ left: $vw/6*5; bottom: 0;}
    }
  }

  .home-background{
    background-position: 95% center;
    background-size: cover;
    position: absolute;
    left: -20px;
    top: 0;
    width: $vw/5.7*6;
    height: $vh;
    animation: backgroundSlide 5s infinite;
  }

  .slide-content{
    @include clearfix;
    color: $light-grey;
    text-align: left;
    position: absolute;
    top: 50%;
    left:  $vw/6;
    width: 70vw;
    max-width: $vw/6*2;

    .slide-content-txt{
      opacity: 0;
      @include translate(0,50px);
      @include basicTransition(0.5s);
      &.active{
        opacity: 1;
        @include translate(0,0);
      }
    }

    .slide-num{
      position: absolute;
      top: 0;
      right: 105%;
      text-align: right;
      white-space: nowrap;
      font-size: 2.5vmin;
//      opacity: 0.3;
      span{
        margin: 0 -2px;
      }

      span:first-child{
        font-family: $strong;
        font-size: 18vmin;
        line-height: 0.7em;
      }
    }

    h1{
      font-family: $strong;
      font-size: 12.4vmin;
      line-height: 0.7em;
      letter-spacing: -0.02em;
      max-width: 400px;
      span{
        white-space: normal;
      }
    }
    h2{
      clear: right;
      font-size: 2vmin;
      line-height: 1.2em;
    }
    .btn{
      margin-top: $spacing;
    }
  }
  letter {
    opacity: 0;
    @include basicTransition(0.3s);
    &.active{
      opacity: 1;
    }
  }
}

.owl-item.active{
  .home-slide{
    .home-background-holder{
      .stripe{
        height: 0;
        &:nth-child(2){ transition-delay: 0.15s}
        &:nth-child(3){ transition-delay: 0.60s}
        &:nth-child(4){ transition-delay: 0.25s}
        &:nth-child(5){ transition-delay: 0.60s}
        &:nth-child(6){ transition-delay: 0.20s}

      }
    }
  }
}

/****home slider navigation****/

.home-slider{
//  pagination
  .owl-pagination{
    color: $light-grey;
    position: absolute;
    top: 50%;
    right: $spacing;
    text-align: center;
    width: 25px;
    @include translate(0, -50%);
    .owl-page{
      display: block;
    }
    .slide-preview{
      position: absolute;
      white-space: nowrap;
      font-size: 10px;
      text-transform: uppercase;
      right: 60px;
      letter-spacing: 0.17em;
      *{
        font-size: 10px;
        letter-spacing: 0.17em;
      }
    }
  }
//  buttons
  .owl-buttons{
    color: $light-grey;
    position: absolute;
    top: 50%;
    right: $spacing;
    text-align: center;
  }
  .owl-buttons > div {
    display: block;
    width: $ui-el-size;
    height: $ui-el-size;
    line-height: $ui-el-size;
    position: relative;
    margin: auto;
    border: solid 1px rgba(255,255,255,0.2);
    margin-top: -1px;
    overflow: hidden;
    @include basicTransition(0.4s);
    &:before, &:after{
      display: block;
      width: 100%;
      height: 100%;
      line-height: $ui-el-size;
      font-family: 'ameba';
      font-size: $ui-el-size/1.6;
      text-align: center;
      @include basicTransition(0.4s);
    }
  }
  .owl-buttons > div:hover{
    border-color: $white;
    background: rgba(0,0,0,0.1);
    &:before{
      margin-top: -$ui-el-size;
    }
  }
  .owl-buttons > div:before  {
    opacity: 0.4;
  }

  .owl-buttons > div.owl-prev:before,
  .owl-buttons > div.owl-prev:after
  {
    content: '\e902';
  }
  .owl-buttons > div.owl-next:before,
  .owl-buttons > div.owl-next:after
  {
    content: '\e905';
  }

  .owl-buttons > article{
    span{
      display: inline-block;
      vertical-align: baseline;
      line-height: 0.6em;
    }
    .active-slide{
      font-family: $strong;
      font-size: 40px;
      width: 1em;
      text-align: right;
    }
    .slides-count{
      font-size: 32px;
      position: relative;
      margin-left: 15px;
      font-weight: 100;
      &:before{
        content:'';
        position: absolute;
        width: 2em;
        height: 1px;
        background: $white;
        top: 10px;
        left: -30px;
        @include rotate(-50deg);
      }
    }
  }
}


//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 1200px){
  .home-slide{
    .slide-content{
      width: 70vw;
      max-width: 70vw;
      h1{
        font-size: 12.4vmin;
      }
      h2{
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 960px){
  .home-slide{
    .home-background-holder{
      left: 0;
      width: 100%;
      height: 100%;
      &:after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark;
        opacity: 0.3;
      }
      .stripe{
        display: none;
      }
    }
    .home-background{
      background-position: center center;
      left: 0;
      width: 100%;
      animation: none;
    }
    .slide-content{
      .slide-num{
        opacity: 0.3;
        color: $white !important;
      }
    }
  }

  .static-lines{
    line{
      display: none;
    }
  }
}

@media screen and (max-width: 600px){
  .home-slide{
    .slide-content{
      h1{
        white-space: normal;
      }
    }
  }

  /****home slider navigation****/

  .home-slider{
    .owl-buttons{
      display: none;
    }
  }
}

