@import 'variables';


/**** lines****/

.lines{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/lines.svg');
  background-size: cover;
  pointer-events: none;
  z-index: 3;
}

.video-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/video-mask.svg');
  background-size: cover;
  pointer-events: none;
  z-index: 1;
}



/****home slider****/

#ameba-home canvas{
  width: 100%;
  height: 100%;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: lighten;
  -webkit-mix-blend-mode: lighten;

}

.home-slide{
  position: relative;
  background-color: $main;

  .home-background-holder{
    position: absolute;
    top: 0;
    right: 0;
    width: $vw/5;
    height: $vh;
    overflow: hidden;
    transition: all 900ms 0ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    &:after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $dark;
      opacity: 0.1;
    }
  }

  .home-background{
    background-position: right center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .slide-content{
    @include clearfix;
    color: $light-grey;
    text-align: left;
    position: absolute;
    top: 50%;
    left:  50%;
    @include translate(-50%, 0);
    width: 70vw;
    max-width: 47vmin;
    z-index: 2;

    &.dark-text{
      color: $dark;
    }
    &.light-text{
      color: $light-grey;
    }
    .slide-content-txt{
      margin-top: $spacing;
    }

    .slide-content-txt, .btn{
      opacity: 0;
      @include translate(0,50px);
      @include basicTransition(0.5s);
    }
    .btn{ transition-delay: 300ms}
    .slide-content-txt{ transition-delay: 500ms}

    img{
      max-width: 100px;
      height: auto;
    }

    h1{
      font-size: 12vmin;
      line-height: 0.7em;
      pointer-events: none;
      font-family: $strong;
      letter-spacing: -0.01em;
      margin: $spacing*2 0;
      span{
        white-space: normal;
      }
    }
    h2{
      clear: right;
      font-size: 14px;
      line-height: 1.5em;
      opacity: 0.8;
      width: 85%;
      margin: 0;
      pointer-events: none;
    }
  }
  .slide-content-box{
    position: relative;
    padding: $spacing*2;
    padding-right: 0;
    border: solid $fat-border-size rgba(0,0,0,0.3);
  }

  letter {
    left: -10px;
    opacity: 0;
    position: relative;
    @include basicTransition(0.2s);
    &.active{
      opacity: 1;
      left: 0;
    }
  }
}

.slide-content.active{
  .slide-content-txt, .btn{
    opacity: 1;
    @include noTransform;
  }

}
.slide-content{
  .border-top,
  .border-bottom{
    position: absolute;
    height: $fat-border-size;
    width: 50%;
    background-color: $light-grey;
    @include basicTransition(0.5s);
    @include scale(0.3,1);
  }

  .border-right,
  .border-left{
    position: absolute;
    width: $fat-border-size;
    height:50% ;
    background-color: $light-grey;
    @include basicTransition(0.5s);
    @include scale(1,0.3);
  }

  .border-top{
    right: -$fat-border-size;
    top: -$fat-border-size;
    transform-origin: 100% 0;
  }
  .border-right{
    top: -$fat-border-size;
    right: -$fat-border-size;
    transform-origin: 0 0;
  }
  .border-bottom{
    left: -$fat-border-size;
    bottom: -$fat-border-size;
    transform-origin: 0 0;
  }
  .border-left{
    bottom: -$fat-border-size;
    left: -$fat-border-size;
    transform-origin: 0 100%;
  }
}

.slide-content:hover{
  .border-top,
  .border-bottom{
    transform: scale(1) !important;
  }

  .border-right,
  .border-left{
    transform: scale(1) !important;
  }
}

.owl-item.active{
  .home-slide{
    .home-background-holder{
      width: $vw/5*3;
    }
    .slide-content{
      .slide-num{
        span{
          @include noTransform;

        }
      }
    }
  }
  .slide-content{
    .border-top,
    .border-bottom{
      transform: scale(0.2,1);
    }

    .border-right,
    .border-left{
      transform: scale(1,0.2);
    }
  }
}

//--------------------------------------------------------------------------------------------------------------------------------------------------//
@media screen and (max-width: 1400px){
  .home-slide{
    .slide-content{
      width: 45vw;
      max-width: 45vw;
      background: none;
    }
  }
}

@media screen and (max-width: 1200px){
  .home-slide{
    .slide-content{
      width: 70vw;
      max-width: 70vw;
      background: none;
      h1{
        font-size: 12.4vmin;
      }
      h2{
        font-size: 14px;
        width: 100%;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 960px){
  .home-slide{
    .slide-content{
      color: $white;
      h1{
        color: $white !important;
      }
      .slide-content-txt{
        margin-top: 30px;
      }
    }

    .home-background-holder{
      left: 0;
      width: 100%;
      height: 100%;
      &:after{
        opacity: 0.4;
      }
    }
    .home-background{
      background-position: center center;
      left: 0;
      width: 100%;
      animation: none;
    }

    .slide-content-box{
      border-width:$fat-border-size/2;
    }
  }

  .static-lines{
    line{
      display: none;
    }
  }

  .slide-content{
    .border-top,
    .border-bottom{
      height: $fat-border-size/2;
    }

    .border-right,
    .border-left{
      width: $fat-border-size/2;
    }

    .border-top{
      right: -$fat-border-size/2;
      top: -$fat-border-size/2;
    }
    .border-right{
      top: -$fat-border-size/2;
      right: -$fat-border-size/2;
    }
    .border-bottom{
      left: -$fat-border-size/2;
      bottom: -$fat-border-size/2;
    }
    .border-left{
      bottom: -$fat-border-size/2;
      left: -$fat-border-size/2;
    }
  }
}

@media screen and (max-width: 600px){
  .home-slide{
    .slide-content{
      h1{
        white-space: normal;
      }
    }
  }
}

