@import 'variables';

/**** lines****/
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: $nav-size;
  height: $vh;
  @include basicTransition(0.5s);
  border-right: $dark-border;

  .logo-holder{
    cursor: pointer;
    position: relative;
    z-index: 4;
    margin-top: $spacing;
    display: block;
  }

  .logo{
    display: block;
    text-align: center;
    pointer-events: none;
    img{
      width: $nav-size;
      display: block;
      height: auto;
    }
    img:nth-child(2){
      display: none;
    }
  }

  .hamburger{
    position: absolute;
    top: 50%;
    left: 0;
    width: $nav-size;
    height: 100px;
    margin-top: -50px;
    float: right;
    span{
      position: absolute;
      top: 50%;
      height: 20px;
      margin-top: -10px;
      left: 50%;
      width: 1px;
      background: $dark;

      &:before, &:after{
        content:'';
        position: absolute;
        width: 1px;
        height: 100%;
        background: $dark;
        @include basicTransition(0.2s);
      }

      &:before{
        left: -6px;
      }
      &:after{
        right: -6px;
      }
    }
  }
  .hamburger:hover{
    span{
      &:before{
        left: -2px;
      }
      &:after{
        right: -2px;
      }
    }

  }
  /***color when page opened***/
  .hamburger.active{
    filter: none;
    -webkit-filter: none;
    span{
      background: transparent !important;

      &:before, &:after{
        left: 50%;
        background: $light-grey !important;
      }

      &:before{
        @include rotate(-45deg);
      }
      &:after{
        @include rotate(45deg);
      }
    }
  }
}

.header.active{
  background: darken($dark,3);
  .logo img{
    &:nth-child(1){display: none;}
    &:nth-child(2){display: block;}
  }
}


//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 800px){
.header{
  display: none;
}
}

