@import 'variables';

/**** lines****/
.header-mobile{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: $nav-size;
  width: $vw;
  @include basicTransition(0.5s);
  border-bottom: $dark-border;
  background: $lightest-grey;

  .logo-holder{
    cursor: pointer;
    position: relative;
    z-index: 4;
    display: block;
  }

  .logo{
    display: block;
    text-align: center;
    pointer-events: none;
    img{
      height: $nav-size;
      display: block;
      width: auto;
    }
  }

  .hamburger{
    position: absolute;
    top: 50%;
    left: 0;
    width: $nav-size;
    height: $nav-size;
    margin-top: -$nav-size/2;
    float: right;
    filter: drop-shadow(0px 1px 0px $light-grey);
    -webkit-filter: drop-shadow(0px 1px 0px $light-grey);
    span{
      position: absolute;
      top: 50%;
      height: 20px;
      margin-top: -10px;
      left: 50%;
      width: 1px;
      background: $dark;

      &:before, &:after{
        content:'';
        position: absolute;
        width: 1px;
        height: 100%;
        background: $dark;
        @include basicTransition(0.2s);
      }

      &:before{
        left: -6px;
      }
      &:after{
        right: -6px;
      }
    }
  }
  .hamburger:hover{
    span{
      &:before{
        left: -2px;
      }
      &:after{
        right: -2px;
      }
    }

  }
  /***color when page opened***/
  .hamburger.active{
    filter: none;
    -webkit-filter: none;
    span{
      background: transparent !important;

      &:before, &:after{
        left: 50%;
      }

      &:before{
        @include rotate(-45deg);
      }
      &:after{
        @include rotate(45deg);
      }
    }
  }
}

//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 800px){

  .main-menu{
    left: 0;
  }

  .project-box{
    min-height: calc(#{$vh} - #{$nav-size}) !important;
  }
  .project-header{
    top: -$nav-size;

  }

  .site-wrapper{
    top: $nav-size;
    height: calc(#{$vh} - #{$nav-size});
    width: $vw;
    margin-left: 0;
  }
  .wrapper{
    height: calc(#{$vh} - #{$nav-size});
  }

.header-mobile{
  display: block;
}
}

