@import 'variables';

.float{
  background: url("../images/ameba-bulb-logo.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0.06;
  z-index: 0;
}

.float.home{
  width: 5vh;
  height: 5vh;
  opacity: 1;
  z-index: 2;
}

.project-header{
  min-width: 300px;
  width: 300px;
  height: 100%;
  top: 0;
  background: $white;
  color: $dark;
  z-index: 2;
  border-right: solid 1px rgba(0,0,0,0.07);
  overflow: hidden;

  > article{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 $spacing*1.2;

    >aside{
      display: block;
      vertical-align: middle;
      position: relative;
    }

    h1{
     font-family: $thin;
     font-size: 7vmin;
     line-height: 0.65em;
     letter-spacing: -0.02em;
     margin: 0;
     text-align: left;
     width: 80%;
    }
    h2{
      margin: $spacing 0;
      font-size: 2.4vmin;
      opacity: 0.8;
      line-height: 1em;
      font-weight: 300;
    }
    h3{
      font-family: $strong;
      font-size: 2.4em;
      line-height: 1em;
      letter-spacing: -0.02em;
      position: absolute;
      left: 0;
      top: -1em;
//      opacity: 0.2;
    }
    p{
      font-size: 14px;
      letter-spacing: 0.03em;
      line-height: 1.5em;
      margin-bottom: $spacing;
      font-weight: 300;
      opacity: 0.6;
    }
  }

  .stripe{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 5px;
    height: 60%;
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0.8;
  }

  .more-projects{
    position: absolute;
    width: 100%;
    border-top: solid 1px rgba(0,0,0,0.04);
    bottom: 0;
    left: 0;
    padding: $spacing*1.2 $spacing*1.2;
    text-align: left;
  }
}

.project-icons{
  display: inline-block;
  padding: $spacing 0;
  li{
    display: inline-block;
    opacity: 0.4;
    @include basicTransition(0.3s);
    pointer-events:auto;
    margin-right: 10px;

    i{
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
    }

    span{
      display: inline-block;
      vertical-align: middle;
      @include uppText();
    }
  }
}

///////////////////////////////////////////////////////////////////

.project-footer{
  text-align: center;
  min-width: 400px;
  &:empty{
    display: none;
  }
}
.projects-nav{
    padding: $spacing;
}
///////////////////////////////////////////////////////////////////

.project-content{
  position: relative;
  top: 0;
//  margin-left: $vw/4;
  height: $vh;
  overflow: hidden;
  display: table;
  table-layout: auto;
  >*{
    position: relative;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
  }

  img {
    max-height: 80vh;
    width: auto;

  }

  img.full {
    height: $vh;
    max-height: $vh;
  }

}

.project-line{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.1);
  z-index: 0;
}


////////////////////////////////////////////////////////////////////


.project-tip{
  @include clearfix;
  padding: 10vh $spacing;
  span{
    position: relative;
    line-height: 1em;
    font-family: $thin;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    display: block;
    padding: 0 $spacing;
    background: $lightest-grey;
    white-space: nowrap;

    &:before{
      content:'';
      position: absolute;
      bottom: -10px;
      right: $spacing;
      height: 1px;
      width: 40px;
      background: lighten($dark,30);
    }
  }
}


//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 500px){

}
