@import 'variables';

.float{
  background: url("../images/ameba-bulb-logo.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 0;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0.06;
}

.project-header{
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0;
  top: 0;
  background: $dark;
  color: $white;

  > article{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 $spacing*2;

    >aside{
      display: block;
      vertical-align: middle;
      position: relative;
    }

    h1{
     font-family: $strong;
     font-size: 11vmin;
     line-height: 0.65em;
     letter-spacing: -0.02em;
     margin: 0;
     text-align: left;
//     word-wrap: break-word;
     width: 80%;
    }
    h2{
      margin: $spacing 0;
      font-size: 3vmin;
      opacity: 0.8;
      line-height: 0.8em;
      font-weight: 300;
      font-family: $thin;
    }
    h3{
      font-family: $thin;
      font-size: 3em;
      line-height: 1em;
      letter-spacing: -0.02em;
      position: absolute;
      left: 0;
      top: -1em;
      opacity: 0.2;
    }
    p{
      font-size: 14px;
      letter-spacing: 0.03em;
      line-height: 1.5em;
      margin-bottom: $spacing;
      font-weight: 300;
    }
  }

  .stripe{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 5px;
    height: 60%;
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0.8;
  }

  .more-projects{
    position: absolute;
    width: 100%;
    border-top: solid 1px rgba(255,255,255,0.1);
    bottom: 0;
    left: 0;
    padding: $spacing*2 $spacing*2;
  }
}

.project-icons{
  border-top: $dark-border;
  display: inline-block;
  padding: $spacing 0;
  li{
    display: inline-block;
    opacity: 0.4;
    @include basicTransition(0.3s);
    pointer-events:auto;
    margin-right: 10px;

    i{
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
    }

    span{
      display: inline-block;
      vertical-align: middle;
      @include uppText();
    }
  }
}

///////////////////////////////////////////////////////////////////

.project-footer{
//  padding-top: $spacing*2;
  text-align: center;
}
.projects-nav{
    padding: $spacing;
}
///////////////////////////////////////////////////////////////////

.project-content{
  position: relative;
  top: 0;
  margin-left: 25%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  >*{
    position: relative;
    z-index: 1;
  }

  img {
    max-width: 1200px;
    width: 80%;
    margin: auto;
    display: block;
  }

  img.full {
    max-width: inherit;
    width: 100%;
  }

  .more-projects{
    text-align: center;
    padding-bottom: $ui-el-size;
  }

}

.project-line{
  position: absolute;
  top: 0;
  left: 62.4%;
  margin-left: -1px;
  width: 1px;
  height: 100%;
  background: rgba(0,0,0,0.1);
  z-index: 0;
  &:after, &:before{
    content:'';
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
  }
  &:after{
    left: 20vw;
    background: rgba(0,0,0,0.06);

  }
  &:before{
    left: -10vw;
    background: rgba(0,0,0,0.04);
  }
}


////////////////////////////////////////////////////////////////////


.project-tip{
  @include clearfix;
  padding: 10vh 0;
  span{
    width: 50%;
    position: relative;
    @include uppText;
    line-height: 1em;

    &:before{
      content:'';
      position: absolute;
      top: 50%;
      height: 1px;
      width: 40%;
      background: lighten($dark,50);
    }

    &:after{
      content:'';
      position: absolute;
      top: 50%;
      margin-top: -3px;
      height: 6px;
      width: 6px;
      border-radius:100%;
      background: lighten($dark,30);
    }
  }
}
.project-tip.left{
  span{
    float: left;
    text-align: right;
    padding-right: 21%;
    padding-left: $spacing;

    &:before{
      right: 0;
    }
    &:after{
      right: -3px;
    }

  }
}

.project-tip.right{
  span{
    float: right;
    text-align: left;
    padding-left: 21%;
    padding-right: $spacing;

    &:before{
      left: 0;
    }
    &:after{
      left: -3px;
    }
  }
}


//--------------------------------------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 1200px){

  .project-header{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100px;

    > article{
      position: relative;
      top: auto;
      left: auto;
      margin-top: 0 !important;
    }

    .more-projects{
      position: relative;
      bottom: auto;
      left: auto;
    }
  }

  ///////////////////////////////////////////////////////////////////

  .project-content{
    position: relative;
    margin-left: 0;
    height: auto;
  }

  .project-line{
    left: 50%;
    position: fixed;
  }
}

@media screen and (max-width: 500px){

  .project-header{
    > article{
      h1{
        font-size: 50px;
      }
      h2{
        font-size: 25px;
      }
      h3{
        font-size: 2em;
      }
    }
  }
}
